{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Add New Food Item</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        
        <div class="form-group">
            {{ form.price.label_tag }}
            {{ form.price }}
        </div>
        
        <div class="form-group">
            {{ form.calories_per_10g.label_tag }}
            {{ form.calories_per_10g }}
        </div>
        
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        
        <div class="form-group">
            {{ form.species.label_tag }}
            <div>
                {% for checkbox in form.species %}
                    <div class="form-check">
                        {{ checkbox.tag }}
                        <label class="form-check-label">{{ checkbox.choice_label }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
